@import url(/assets_page/styles/styles.css);

.home{
    display: flex;
    padding-top: 32px;
    padding-bottom: 120px;
    align-items: center;
    justify-content: center;
}

.information{width: 90%;}

.summary{width: 100%;}

.summary hr{background-color: rgb(70, 70, 70);}

.title{margin-bottom: 16px;}

.index{
    display: none;
    align-items: flex-start;
    margin: 16px;
    flex-direction: column;
}

.index a{
    width: 90%;
    margin-top: 4px;
    margin-bottom: 4px;
    text-align: left; 
    word-wrap: break-word;
    transition: 200ms;  
}

.summaryTitle{
    font-size: 1rem;
    font-weight: 500;
    word-wrap: break-word;
    text-overflow:ellipsis;
}

.summarySubtitle{
    margin-left: 16px;
    font-size: 1rem;
    font-weight: 500;
}

.article{
    padding: 24px;
    margin-top: 64px;
    padding-bottom: 120px;
    overflow-wrap: break-word;
    background-color: #F3F3F3; 
    filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.1)); 
}    

.article div{
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.article p{
    font-size: 1rem;
    margin-top: 32px;
    margin-bottom: 16px;
}

.title{
    font-size: 2rem;
}

.subtitle{
    font-size: 1.3rem;
}

.summary a{
    color: black;
    text-decoration: none;
}

.footer-bar{padding: 16px;}

.nav-icon{
    width: 30px;
    height: 30px;
}


@media (min-width: 568px){
    .index{display: flex}

    .index a:hover{
        transition: 200ms;
        -webkit-transform: scale(1.07);
        -ms-transform: scale(1.07);
        transform: scale(1.07);
    }

    .nav-icon{display: none;}

    .information{display: flex;}

    .summary{width: 25%;}

    .summary div:last-child{display: block;}

    .article{
        width: 80%;
        margin-top: 0px;
        margin-left: 16px;
        padding-top: 32px;
        padding-left: 64px;
        padding-right: 64px;
    }
} 